body{
  padding:0;
  margin:0;
  font-family:'Garamond';
}

#options{
  background: white;
  position: absolute;
  left: 0;
  width: 30%;
  /* left: -25%; */
  padding-right: 20px;
  height: 100%;
  max-width: 320px;
  transition: .4s ease;
}
.optionsHide{
  left: -25% !important;
}

.nipple {
  position: absolute;
  right: -25px;
  top: calc(50% - 30px);
  height: 30px;
  width: 25px;
  border-top: 30px solid transparent;
  border-left: 25px solid white;
  border-bottom: 30px solid transparent;
  box-sizing: border-box;
}


.diamond {
  position: absolute;
  top: calc(50% - 12.5px);
  z-index: 10;
  background: #980011;
  width: 25px;
  height: 25px;
  transform: rotate(45deg) skew(5deg, 5deg);
  right: -12.5px;
}

#gear{
  position: absolute;
  left: -40px;
  top: calc(50% - 15px);
  z-index: 20;
  fill: white;
  padding: 5px;
}

.formItem label{
  font-size: 14px;
  display: block;
  font-weight: bold;
}

input, select, textarea {
    margin: 5px;
    border: 2px solid transparent;
    border-left: 2px solid #980011;
    /*background: #9800110a;*/
    box-sizing: border-box;
    transition: .3s ease;
    box-shadow: 0 0 2px grey;
}

input:focus, select:focus, textarea:focus {
    outline: 1px solid #980011;
    background: white;
    border: 2px solid #980011;
}

.buttonItem {
    max-width: 100%;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
}

.button {
    display: block;
    height: 35px;
    border-radius: 5px;
    float: left;
    width: 27%;
    margin: calc(8% / 3);
    box-sizing: border-box;
    background: white;
    transition: .3s ease;
    font-size: 18px;
    border: 1px solid #980011;
    color: #980011;
}

.button:hover {
    background: #980011;
    color: white;
}







#display{
  background: #dadada;
  position: absolute;
  /* left: 30%; */
  width: 100%;
  height: 100%;
  z-index: -1;
  min-width: 240px;
  /* float: left; */
}
#card{
  background:blue;
  background: #454545;
  /*margin:50px auto;*/
  border-radius:10px;
  padding: 5px 7.5px;
  position:relative;
  box-sizing:border-box;
  width:2.5in;
  height:3.5in;
  transition: .5s ease;
    transform: scale(1.5);
    top: calc(50% - (336px / 2));
    left: calc(50% - 2.5in / 2);
}
#icon{
  width:20px;
  height:20px;
  background-size: 20px 20px !important;
  background-position:center center;
  filter:invert(1);
  position:absolute;
  right:5px;
  filter: grayscale(100%) invert(1);
}
.contentBox{
  background:white;
  padding:5px;
  padding-top:0px;
  border-radius:5px;
  height:270px;
}
.cardContent{
  margin:0;
  padding:2.5px;
}
#title{
  font-size:16px;
  background:none;
  border:none;
  color:white;
  min-height: 18.4px;
  padding: 2.5px 2px;
  padding-top: 0;
}
#typeSlotAttune, #rarityValue{
  font-size:14px;
  border-bottom:1px solid gray;
  min-height: 16px;
}
#description{
  font-size:12px;
  text-align:left;
  padding:2.5px;
  height:230px;
  overflow:hidden;
  transition:.5s;
  white-space: pre-wrap;
}

#itemDescription{
  width: 300px;
  display: block;
  max-width: 100%;
  min-height: 100px;
  padding: 0px;
}








/*duplicated to convert to class*/


.card{
  background: #454545;
  margin:50px auto;
  border-radius:10px;
  padding:7.5px;
  position:relative;
  box-sizing:border-box;
  width:2.5in;
  height:3.5in;
}
}
.icon{
  width:20px;
  height:20px;
  background-size: 20px 20px !important;
  background-position:center center;
  filter:invert(1);
  position:absolute;
  right:5px;
  filter: grayscale(100%) invert(1);
}
.cardIcon{
  width:20px;
  height:20px;
  position:absolute;
  right:5px;
  top: 5px;
  fill: white;
}


.contentBox{
  background:white;
  padding:5px;
  padding-top:0px;
  border-radius:5px;
  height: 285px;
}
.cardContent{
  margin:0;
  padding:2.5px;
}
.title{
  font-size:16px;
  background:none;
  border:none;
  color:white;
  min-height: 18.4px;
  padding: 2.5px 2px;
  padding-top: 0;
}
.typeSlotAttune, .rarityValue{
  font-size:14px;
  border-bottom:1px solid gray;
  min-height: 16px;
}
.description{
  font-size:12px;
  text-align:left;
  padding:7.5px;
  padding:2.5px;
  height:230px;
  overflow:hidden;
  transition:.5s;
  white-space: pre-wrap;
}

.itemDescription{
  width: 300px;
  display: block;
  max-width: 100%;
  min-height: 100px;
  padding: 0px;
}




#itemValue{
  max-width: 80px;
}








.cardListIcon:hover > use{
  display:none;
}

.cardListIcon:hover{
  background: url(../delete.svg);
  background-size: cover;
}



#itemAttunement{
    vertical-align: middle; 
}


.formItem{
  max-width: 100%;
  margin: 10px;
}

#color, #titleColor{
  border: none;
  background: white;
  box-shadow: 0 0 2px black;
  height: 20px;
  width: 40px;
}

#deckWindow{
  /* width: 30%; */
  min-width: 250px;
  right: 0;
  height: 100%;
  background: white;
  position: absolute;
  max-width: 320px;
  box-sizing: border-box;
  overflow: hidden;
}

#searchBar{
  width: 100%;
  position: absolute;
  top: 0;
  height: 4vh;
  margin:0;
  font-weight: 900;
  font-family: "Font Awesome 5 Free", Garamond;
  text-align: center;
}

.cardPane {
    overflow-y: auto;
    max-height: 92vh;
    position: absolute;
    top: 4vh;
    width: 100%;
    /* height: 5vh; */
    padding: 2px;
    text-align: center;
    box-sizing: border-box;
}

#cardList{
  list-style: none;
  padding: 0;
  margin: 0;
}

.libDeckTitle{
    font-size: 22px;
    font-weight: normal;
    margin: 5px;
    display: inline-block;
    padding: 0;
    margin-bottom: 0;
    border-bottom: 2px solid #980011;
}

.numCardCount{
    padding: 0;
    margin: 0;
    font-size: 14px;
}

.cardList{
    list-style: none;
    padding: 0;
    margin: 0;
}

.cardItem{
  background: #454545;
  color:white;
  padding: 5px;
  position:relative;
  min-height: 18.4px;
  transition: .2s;
  text-align: left;
}
.cardItem:hover{
  filter: opacity(.85);
  border-left: 3px solid #00a4ff;
}

.InsertButtonName {
    width: 30px;
    height: 100%;
    background: blue;
    position: absolute;
    left: 0;
    top: 0;
}


li+li{
  border-top: 1px solid white;
}
.cardEnabled{
  filter: opacity(.85);
  border-left: 3px solid #00a4ff;
}

.cardListIcon{
  width:20px;
  height:20px;
  position:absolute;
  right:5px;
  fill: white;
}

#addCardButton{
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 4vh;
  background: #980011;
  color: white;
  box-sizing: border-box;
  border: 2px solid white;
  margin: 0;
}

#cardIcon{
width:300px;
height:300px;
}

.groupIcon{
  display:none;
}

@media print{
  body {
    -webkit-print-color-adjust: exact;
  }
  #options, #display, #deckWindow{
    display:none;
  }
  .card{
    margin:5px;
    display:inline-block;
  }
}